*{
    margin: 0.1px;
    padding: 0.1px;
}

header{
    margin: 40px;
    font-size: 30px;
    background-color: aliceblue;
    text-align: center;
}


h1{
    /* text gradient color: https://cssgradient.io/blog/css-gradient-text/ */
background-image: linear-gradient(15deg, royalblue, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  background-clip: text;
}

/* the card color */
.dnb-card{
background-color:lightblue;
width:350px;
height: 450px;
text-align: center;
/* pushes the card away from the top and left margins by 10% */
margin: 7%; 
/* lower end of the cards rounded off like a id badge */
border-radius: 30px;
}
/* shaded color up top of the card */
.dnb-card-background{
    background: linear-gradient(to right, green,royalblue);
    height: 150px;
    width:100%;
    /* upper end of the cards rounded off like a id badge */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
/* profile user picture styling */
.dnb-card-image{
    border-radius:50%;
    width:150px;
    height:auto;
    position: relative;
    top: 90px;
    /* adds the card background color as a border for the image to give the image a floating look */
    border: 6px solid lightblue;
}

.dnb-card-image:hover{
    transform: scale(1.3);
    border: 1px dotted grey;
}

/* styling the name and title portion of the card */
.dnb-card-name{
    margin-top: 100px;
    padding: 10px;
}
/* image in the card title */
.google{
    width:90px;
    height:40px;
}
.google:hover{
    transform: scale(0.9);
    cursor: pointer;
}

/* common styling for icon size */
.dnb-card-social-icons{
font-size:35px;
margin: 15px;
cursor: pointer;
}
/* styles each icon */
.link{
    color:royalblue;
}
.git{
    color: black;
}

.cert{
    color: purple;
}

.spot{
    color:rgb(69, 206, 28);
}

.cal{
color: red;
}
.voice{
    color: rgb(113, 182, 113);
}

.spot:hover, .voice:hover, .cal:hover, .cert:hover, .git:hover, .link:hover{
    padding: 2px;
    border: 1px dashed grey;
    transform: scale(1.1);
}

p{
    font-weight: bolder;
}


/* the card color */
.db-card{
    background-color:rgb(245, 243, 243);
    width:350px;
    height: 450px;
    text-align: center;

    /* lower end of the cards rounded off like a id badge */
    border-radius: 40px;
    /* pushes the card away from the top and right margins https://www.w3schools.com/css/tryit.asp?filename=trycss_image_text_top_right */
    top: 20%;
    left: 70%;     
    position: absolute;
    }
    /* shaded color up top of the card */
    .db-card-background{
        background: linear-gradient(to left, rgb(248, 216, 70),yellow);
        height: 150px;
        width:100%;
        /* upper end of the cards rounded off like a id badge */
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    /* profile user picture styling */
    .db-card-image{
        border-radius:10%;
        width:150px;
        height:auto;
        position: relative;
        top: 90px;
        /* adds the card background color as a border for the image to give the image a floating look */
        border: 6px solid rgb(245, 243, 243);
    }
    
    .db-card-image:hover{
        transform: scale(1.3);
        border: 1px dotted grey;
    }
    
    /* styling the name and title portion of the card */
    .db-card-name{
        margin-top: 100px;
        padding: 10px;
    }
    
    /* common styling for icon size */
    .db-card-social-icons{
    font-size:35px;
    margin: 15px;
    cursor: pointer;
    }

    .r{
color: darkslategrey;
    }

    .r:hover{
        color: grey;
    }
    
    p{
        font-weight: bolder;
    }
    h2{
        font-size: 30px;
        background-image: linear-gradient(25deg, rgb(236, 228, 108),rgb(247, 203, 7));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  background-clip: text;
    }

    /* the card color */
.d-card{
    /* background-image: linear-gradient(45deg, rgb(251, 246, 253) 15%, transparent 15%), linear-gradient(-15deg, rgb(255, 234, 237) 25%, transparent 15%), linear-gradient(25deg, transparent 35%, #b6b5b5 75%), linear-gradient(-45deg, transparent 15%, #353434 75%);
    background-size: 25px 25px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px; */
background-color: whitesmoke;
    width:350px;
    height: 450px;
    text-align: center;
    /* lower end of the cards rounded off like a id badge */
    border-radius: 40px;
    /* pushes the card away from the top and right margins https://www.w3schools.com/css/tryit.asp?filename=trycss_image_text_top_right */
    top: 20%;
    left: 40%;     
    position: absolute;
    }

    .d-card-top{
        background-color: lavender;
/* upper end of the cards rounded off like a id badge */
border-top-left-radius: 20px;
border-top-right-radius: 20px;

    }
    /* profile user picture styling */
    .d-card-image{
        border-radius:30%;
        width:200px;
        height:auto;
        position: relative;
        top: 90px;
        /* adds the card background color as a border for the image to give the image a floating look */
        border: 2px dashed rgb(55, 56, 56);
    }
    
    .d-card-image:hover{
        transform: scale(1.3);
        border: 1px dotted grey;
    }
    
    /* styling the name and title portion of the card */
    .d-card-name{
        margin-top: 100px;
        padding: 10px;
    }
    
    /* common styling for icon size */
    .d-card-social-icons{  
    font-size:35px;
    margin: 95px;
    cursor: pointer;
    }

    .i{
        color: black;
    }

    .i:hover{
        color: darkgrey;
    }

    h3{
        position: relative;
        top: 30px;
        font-size:40px;
    }

.row::after{
    content:"";
    display:table;
    clear:both;

}
.column{
width:250%;
float:left;
padding:0px,10px;
}

.dee{
box-shadow: 0 4px 8px 0 darkgrey;
max-width: 300px;
height:300px;
margin:auto;
background-color: rgb(239, 245, 245) ;
text-align: center;
border-radius:40px ;
padding-bottom:15px ;
}

.deeImg{
width: 150px;
height: auto;
border-radius:30px;
position: relative;
top: 20px;
}

.title{
color: olivedrab;
position:relative;
top: 60px;
}


.dl,.dc,.dv,.dcrt,.ds,.dg{
color: black;
font-size:25px;
}

.dl:hover,.dc:hover,.dv:hover,.dcrt:hover,.ds:hover,.dg:hover{
    color: grey;
    transform: scale(1.3);
    cursor: pointer;
    }
